body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0px auto;
  position: relative;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.nav {
  background-color: #ffffff;
  font-weight: 700;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.nav__item {
  padding-top: 13px;
  padding-bottom: 18px;
  width: 240px;
}

.nav__list {
  font-size: 14px;
  list-style: none;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__list--left {
  margin-left: 72px;
}

.nav__list--right {
  margin-right: 72px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__link--left {
  display: flex;
  justify-content: flex-start;
}

.nav__link--right {
  display: flex;
  justify-content: flex-end;
}

.nav__link--active {
  color: #766357;
}

.nav__link:hover {
  color: #81b3d2;
}

.nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.promo {
  background-color: #81b3d2;
  background-image: url(../img/background-photo.jpg);
  background-position: right 0 top -55px;
  background-repeat: no-repeat;
  height: 510px;
  text-align: center;
  position: relative;
}

.promo__polygon {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 59px;
}

.promo__pic {
  margin-top: 77px;
}

.intro {
  padding-top: 57px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #ffffff;
  line-height: 26px;
}

.intro__head {
  margin-top: 2px;
  margin-bottom: 27px;
  font-size: 21px;
  text-align: center;
}

.intro__desc {
  color: #333333;
  font-size: 14px;
  margin: 0;
  text-align: center;
  padding-bottom: 51px;
}

.present__row,
.showplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.present__wrapper {
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.present__head {
  margin-top: 0;
  margin-left: 75px;
  max-width: 150px;
  font-size: 21px;
}

.present__desc {
  margin: 0;
}

.present__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.present__number {
  margin-top: 23px;
  margin-bottom: 21px;
}

.present__number,
.present__desc {
  font-size: 14px;
}

.offers {
  padding-top: 40px;
  padding-bottom: 66px;
  margin: 0;
  background-color: #ffffff;
  line-height: 21px;
  text-align: center;
}

.offers__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
}

.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 58px;
  margin-right: 59px;
}

.offers__item--size {
  margin-left: 30px;
  margin-right: 30px;
}

.offers__pic {
  width: 75px;
  height: 80px;
}

.offers__pic--home {
  padding-top: 4px;
}

.offers__pic--food {
  padding-top: 5px;
}

.offers__head {
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.offers__head--home {
  margin-top: 22px;
}

.offers__head--food {
  margin-top: 21px;
}

.offers__head--souvenirs {
  margin-top: 26px;
}

.offers__desc {
  max-width: 284px;
  font-size: 14px;
  margin: 0;
}

.showplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.showplace__wrapper {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.showplace__head {
  margin-top: 46px;
  font-size: 21px;
}

.showplace__number {
  margin-top: 23px;
  margin-bottom: 21px;
}

.showplace__number,
.showplace__desc {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.showplace__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages {
  background-color: #eeeeee;
  line-height: 21px;
  padding-top: 46px;
  padding-bottom: 60px;
}

.advantages__list {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.advantages__item {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__head {
  margin: 0;
  margin-top: 2px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  max-width: 120px;
  text-align: center;
}

.advantages__number {
  padding-top: 23px;
  padding-bottom: 21px;
}

.advantages__desc {
  max-width: 259px;
  text-align: center;
}

.advantages__number,
.advantages__desc {
  font-size: 14px;
  margin: 0;
}

.interested {
  background-color: #ffffff;
  position: relative;
}

.interested__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.interested__head {
  padding-top: 50px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.interested__desc {
  margin-top: 24px;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.interested__button {
  padding-top: 30px;
  padding-bottom: 32px;
  width: 568px;
  margin: 0;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.interested__button:hover {
  background-color: #604e43;
}

.interested__button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 55px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  max-width: 458px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 29px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 92px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  white-space: nowrap;
}

.form__label--adults {
  margin-right: 40px;
}

.form__label--child {
  margin-left: 53px;
  margin-right: 27px;
}

.form__container {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.form__input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 10px;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.form__input:hover {
  background-color: #ebebeb;
}

.form__input:focus {
  border-color: #e5e5e5;
  outline: none;
  background-color: #ffffff;
}

.form__calendar {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 9px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.form__svg path {
  fill: #a9a9a9;
}

.form__svg:hover path {
  fill: #000000;
}

.form__svg:active path {
  fill: #81b3d2;
}

.form__humans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__human-input {
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.form__button {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.form__button--minus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.form__button--minus:hover::before {
  background-color: #000000;
}

.form__button--minus:active::before {
  background-color: #81b3d2;
}

.form__button--plus::before,
.form__button--plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.form__button--plus::before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.form__button--plus:hover::before,
.form__button--plus:hover::after {
  background-color: #000000;
}

.form__button--plus:active::before,
.form__button--plus:active::after {
  background-color: #81b3d2;
}

.form__checkin-input:hover {
  background-color: #ebebeb;
}
.form__checkin-input:focus {
  border: 2px solid #e5e5e5;
}
.form__checkout-input:hover {
  background-color: #ebebeb;
}
.form__checkout-input:focus {
  border: 2px solid #e5e5e5;
}

.form__submit {
  margin-top: 54px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 458px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.form__submit:hover {
  background-color: #669ec0;
}

.form__submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  height: 593px;
  background-image: url(../img/map.png);
  text-align: center;
}

.map__pic {
  frameborder: 0;
  allowfullscreen: "";
  aria-hidden: false;
  tabindex: 0;
  border: none;
}

.footer,
.footer--absolute {
  background-color: rgba(255, 255, 255, 0.9);
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer--absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__wrapper {
  margin-right: auto;
  margin-left: 123px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__hashtag {
  margin-bottom: 6px;
}

.footer__hashtag,
.footer__phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.social {
  margin-top: 20px;
  margin-right: 44px;
}

.socail__item {
  margin-right: 6px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social__link:hover {
  background-color: #669ec0;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.website-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  margin-left: auto;
  margin-right: 101px;
}

.website-by__head {
  margin-right: 8px;
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.website-by__svg path {
  fill: #231f20;
}

.website-by__svg:hover path {
  fill: #81b3d2;
}

.website-by__svg:active path {
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Страница отелей*/

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #81b3d2;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: right 0 top -56px;
}

.filter__fieldset {
  margin-top: 28px;
  margin-bottom: 32px;
  margin-left: 72px;
  padding: 0;
  color: #ffffff;
  line-height: 21px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter__fieldset:nth-child(2) {
  margin-left: 118px;
}

.filter__fieldset:last-child {
  width: 315px;
  margin-left: auto;
  margin-right: 75px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter__legend {
  padding: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter__legend--price {
  margin-bottom: 10px;
}

.filter__label {
  position: relative;
  margin-bottom: 25px;
  padding-left: 39px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.filter__label--housing {
  padding-left: 42px;
}

.filter__label:last-child {
  margin-bottom: 0;
}

.filter__label input[type="checkbox"] + .checkbox-indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: transparent url(../img/checkbox-off.svg) no-repeat left;
}

.filter__label input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url(../img/checkbox-on.svg);
}

.filter__label input[type="checkbox"]:focus + .checkbox-indicator {
  outline: 2px solid orange;
}

.filter__label input[type="checkbox"]:disabled + .checkbox-indicator {
  opacity: 0.3;
}

.filter__price {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filter__min-price,
.filter__max-price {
  display: inline-block;
  padding-left: 65px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 29px;
  vertical-align: top;
  width: 81px;
}

.filter__input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}

.filter__range {
  position: relative;
  margin-bottom: 32px;
}

.filter__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter__bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.filter__toggle {
  display: block;
  padding: 0;
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.filter__toggle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #1c4f80;
}

.filter__toggle:focus {
  outline: 2px solid orange;
}

.filter__toggle--min {
  left: 0;
}

.filter__toggle--max {
  left: 80%;
}

.filter__button {
  margin-right: auto;
  margin-left: 86px;
  display: block;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__button:hover {
  background-color: #ffffff;
  color: #000000;
}

.hotels {
  background-color: #ffffff;
}

.sort {
  background-color: #ffffff;
  border-bottom: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.sort__search {
  margin-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.sort__assortment {
  margin-top: 16px;
  margin-left: 47px;
  margin-right: 40px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort__choose {
  margin-top: 4px;
  margin-right: 33px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort__choose--active {
  color: #81b3d2;
  border: none;
}

.sort__choose:hover {
  color: #81b3d2;
}

.sort__choose:active {
  color: #000000;
  border-bottom: none;
}

.sort__href {
  position: absolute;
  right: 0;
  padding-right: 73px;
}

.sort__button {
  text-decoration: none;
}

.sort__button:first-child {
  margin-right: 8px;
}

.sort__arrow path {
  fill: #cacaca;
}

.sort__arrow--down--active path {
  fill: #81b3d2;
}

.sort__arrow path:hover {
  fill: #000000;
}

.sort__arrow path:active {
  fill: #81b3d2;
}

.sort__arrow--up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.results {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results__pic {
  margin-left: 72px;
}

.results__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 30px;
}

.results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.results__item {
  padding-top: 30px;
  padding-bottom: 29px;
  border-bottom: 1px solid #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.results__assessment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 70px;
  min-width: 115px;
}

.results__stars-img {
  margin-right: 2px;
}

.results__head {
  margin-top: -4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.results__head:hover {
  color: #81b3d2;
}

.results__head:active {
  color: rgba(0, 0, 0, 0.3);
}

.results__rating {
  margin-top: 43px;
  text-align: center;
  background-color: #f2f2f2;
}

.results__rating-name {
  margin-top: 2px;
  margin-bottom: 4px;
  margin-left: 15px;
  margin-right: 15px;
  color: #666666;
}

.results__desc {
  margin-top: 5px;
  margin-bottom: 18px;
}

.results__desc,
.results__rating-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.results__link {
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.results__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.results__link--blue {
  background-color: #81b3d2;
  margin-right: 5px;
}

.results__link--blue:hover {
  background-color: #669ec0;
}

.results__link--blue:active {
  background-color: #5496bd;
}

.results__link--brown {
  background-color: #766357;
}

.results__link--brown:hover {
  background-color: #604e43;
}

.results__link--brown:active {
  background-color: #503e33;
}

.footer__wrapper--hotels {
  margin-top: 31px;
  margin-left: 129px;
}

.social--hotels {
  margin-right: 50px;
  margin-top: 20px;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
}
