body{
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.wrapper{
  width: 1200px;
  margin: 0px auto;

  position: relative;

  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.nav{
  background-color: #ffffff;
  font-weight: 700;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.nav__list{
  font-size: 14px;
  list-style: none;
  line-height: 26px;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__link{
  padding-top: 13px;
  padding-bottom: 18px;
  text-decoration: none;
  color: #000000;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link:hover{
color: #81b3d2;
}

.nav__link:active{
color: rgba(0, 0, 0, 0.3);
}

.logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.promo{
  background-color: #81b3d2;
  background-image: url(../img/background-photo.jpg);
  background-position: right 0 top -55px;
  background-repeat: no-repeat;
  height: 510px;
  text-align: center;
  position: relative;
}

.promo__polygon{
  position: absolute;
  content: '';
  width: 100%;
  bottom: -1px;
  left: 0;
  height: 59px;
}

.promo__pic{
  margin-top: 77px;
}

.intro{
  padding-top: 57px;
  padding-left: 350px;
  padding-right: 350px;
  background-color: #ffffff;
  line-height: 26px;
}

.intro__head{
  margin-top: 2px;
  margin-bottom: 27px;
  font-size: 21px;
  text-align: center;
}

.intro__desc{
  color: #333333;
  font-size: 14px;
  margin: 0;
  text-align: center;
  padding-bottom: 51px;
}

.present__row,
.showplace{
  display: flex;
  flex-direction: row;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  height: 256px;
}

.present__wrapper{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.present__head{
  margin-top: 47px;
  margin-left: 75px;
  max-width: 150px;
  font-size: 21px;
}

.present__desc{
  margin: 0;
}

.present__number{
  margin-top: 23px;
  margin-bottom: 21px;
}

.present__number, .present__desc{
  font-size: 14px;
}

.offers{
  padding-top: 44px;
  padding-bottom: 68px;
  margin: 0;
  background-color: #ffffff;
  line-height: 21px;
  text-align: center;
}


.offers__list{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.offers__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 58px;
  margin-right: 59px;
}

.offers__item--size{
  margin-left: 30px;
  margin-right: 30px;
}

.offers__pic{
  width: 75px;
  height: 80px;
}

.offers__head{
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 23px;
}

.offers__desc{
  max-width: 284px;
font-size: 14px;
margin: 0;
}

.showplace{
  display: flex;
  flex-direction: row-reverse;
}

.showplace__wrapper{
  padding-left: 40px;
  padding-right: 40px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.showplace__head{
  margin-top: 46px;
  font-size: 21px;
}

.showplace__number{
  margin-top: 23px;
  margin-bottom: 21px;
}

.showplace__number,
.showplace__desc{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages{
  background-color: #eeeeee;
  line-height: 21px;
  padding-top: 46px;
  padding-bottom: 60px;
}

.advantages__list{
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.advantages__item{
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__head{
  margin: 0;
  margin-top: 2px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  max-width: 120px;
  text-align: center;
}

.advantages__number{
  padding-top: 23px;
  padding-bottom: 21px;
}

.advantages__desc{
  max-width: 259px;
  text-align: center;
}

.advantages__number,
.advantages__desc{
font-size: 14px;
margin: 0;
}

.interested{
  background-color: #ffffff;
  position: relative;
}

.interested__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interested__head{
  padding-top: 50px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.interested__desc{
  margin-top: 24px;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.interested__button{
  padding-top: 30px;
  padding-bottom: 32px;
  width: 568px;
  margin: 0;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.interested__button:hover{
  background-color: #604e43;
}

.interested__button:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.form{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  max-width: 458px;
}

.form__row{
  display: flex;
  flex-direction: row;
  margin-bottom: 29px;
}

.form__label{
  display: flex;
  align-items: center;
  width: 92px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.form__label--adults{
  margin-right: 40px;
}

.form__label--child{
  margin-left: 53px;
  margin-right: 27px;
}

.form__container{
  position: relative;
  flex-grow: 1;
}

.form__container{
  position: relative;
  -ms-flex-grow: 1;
}

.form__input{
  box-sizing: border-box;
  width: 100%;
  padding: 4px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.form__input:hover{
  background-color: #ebebeb;
}

.form__input:focus{
  border-color: #e5e5e5;
  outline: none;
  background-color: #ffffff;
}

.form__calendar{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 9px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.form__svg path{
  fill: #a9a9a9;
}

.form__svg:hover path{
  fill: #000000;
}

.form__svg:active path{
  fill: #81b3d2;
}

.form__humans{
  display: flex;
  flex-direction: row;

}

.form__wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__human-input{
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.form__button{
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.form__button--minus::before{
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.form__button--minus:hover::before{
  background-color: #000000;
}

.form__button--minus:active::before{
  background-color: #81b3d2;
}

.form__button--plus::before,
.form__button--plus::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.form__button--plus::before{
  transform: translate(-50%, -50%) rotate(90deg);
}

.form__button--plus:hover::before,
.form__button--plus:hover::after{
  background-color: #000000;
}

.form__button--plus:active::before,
.form__button--plus:active::after{
  background-color: #81b3d2;
}

.form__checkin-input:hover{
  background-color: #ebebeb;
}
.form__checkin-input:focus{
  border: 2px solid #e5e5e5;
}
.form__checkout-input:hover{
  background-color: #ebebeb;
}
.form__checkout-input:focus{
  border: 2px solid #e5e5e5;
}

.form__submit{
  margin-top: 54px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 458px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.form__submit:hover{
  background-color: #669ec0;
}

.form__submit:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map{
  text-align: center;
}

.footer,
.footer--absolute{
  background-color: rgba(255, 255, 255, 0.9);
  height: 124px;
  display: flex;
}

.footer--absolute{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__wrapper{
  margin-right: auto;
  margin-left: 123px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.footer__hashtag{
  margin-bottom: 6px;
}

.footer__hashtag, .footer__phone{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.social{
  margin-top: 19px;
  margin-right: 44px;
}

.socail__item{
  margin-right: 6px;
}

.social__list{
  display: flex;
  list-style: none;
  padding: 0;
}

.social__link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social__link:hover{
  background-color: #669ec0;
}

.social__icon:active{
  opacity: 0.3;
}

.website-by{
  display: flex;
  margin-top: 38px;
  margin-left: auto;
  margin-right: 101px;
}

.website-by__head {
  margin-right: 8px;
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.website-by__svg path{
  fill: #231f20;
}

.website-by__svg:hover path{
  fill: #81b3d2;
}

.website-by__svg:active path{
  fill: #bdbbbc;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Страница отелей*/

.filter{
  display: flex;
  flex-direction: row;
  background-color: #81b3d2;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: right 0 top -56px;;
}

.filter__fieldset{
  margin-top: 28px;
  margin-bottom: 32px;
  margin-left: 72px;
  padding: 0;
  color: #ffffff;
  line-height: 21px;
  border: none;
  display: flex;
  flex-direction: column;
}

.filter__fieldset:nth-child(2){
  margin-left: 116px;
}

.filter__fieldset:last-child{
  width: 330px;
  margin-left: auto;
  margin-right: 60px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter__legend{
  padding: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter__legend--price{
  margin-bottom: 10px;
}

.filter__label{
  position: relative;
  margin-bottom: 25px;
  padding-left: 39px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.filter__label--housing{
  padding-left: 42px;
}

.filter__label:last-child{
  margin-bottom: 0;
}

.filter__label input[type="checkbox"] + .checkbox-indicator{
  content: url(../img/checkbox-off.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.filter__label input[type="checkbox"]:checked + .checkbox-indicator{
  content: url(../img/checkbox-on.svg);
  position: absolute;
}

.filter__label input[type="checkbox"]:checked + .checkbox-indicator{
  outline: 2px solid orange;
}

.filter__label input[type="checkbox"]:disabled + .checkbox-indicator{
  opacity: 0.3;
}

.filter__price{
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__price::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 49%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter__min-price,
.filter__max-price{
  display: inline-block;

  font-size: 14px;
  line-height: 29px;
  vertical-align: top;

  width: 81px;
  padding-left: 65px;
}

.filter__input{
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter__range{
  position: relative;

  margin-bottom: 32px;
}

.filter__scale{
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.filter__bar{
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.filter__toggle{
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.filter__toggle:hover {
  width: 6px;
  height: 6px;
  background: #1c4f80;
}

.filter__toggle--min{
  left: 0;
}

.filter__toggle--max{
  left: 77%;
}

.filter__button{
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter__button:hover{
  background-color: #ffffff;
  color: #000000;
}

.hotels{
  background-color: #ffffff;
}

.sort{
  background-color: #ffffff;
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.sort__search{
  margin-left: 72px;
  margin-top: 29px;
  margin-bottom: 31px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.sort__assortment{
  margin-top: 16px;
  margin-left: 47px;
  margin-right: 40px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sort__choose{
  margin-top: 4px;
  margin-right: 33px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort__href{
  position: absolute;
  right: 0;
  padding-right: 73px;
}

.sort__button{
  text-decoration: none;
}

.sort__button:first-child{
  margin-right: 8px;
}

.sort__arrow path{
  fill: #cacaca;
}

.sort__arrow path:hover{
  fill: #000000;
}

.sort__arrow path:active{
  fill: #81b3d2;
}

.sort__arrow--up{
  transform: rotate(180deg);
}

.sort__choose:hover{
  color: #81b3d2;
}

.sort__choose:active{
  color: #000000;
}

.results{
  list-style: none;
  padding: 0;
  margin: 0;
}

.results__pic{
  margin-left: 72px;
}

.results__wrapper{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.results__container{
  display: flex;
  flex-direction: row;
}

.results__item{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: row;
}

.results__assessment{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 70px;
}

.results__stars-img{
  margin-right: 2px;
}

.results__head{
  margin-top: -4px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.results__head:hover{
  color: #81b3d2;
}

.results__head:active{
  color: rgba(0, 0, 0, 0.3);
}

.results__rating{
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 43px;
}

.results__rating-name{
  margin-top: 2px;
  margin-bottom: 4px;
  margin-left: 15px;
  margin-right: 15px;
  color: #666666;
}

.results__desc{
  margin-top: 5px;
  margin-bottom: 18px;
}

.results__desc,
.results__rating-name{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.results__link{
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.results__link:active{
  color: rgba(255, 255, 255, 0.3);
}

.results__link--blue{
  background-color: #81b3d2;
  margin-right: 5px;
}

.results__link--blue:hover{
  background-color: #669ec0;
}

.results__link--blue:active{
  background-color: #5496bd;
}

.results__link--brown{
  background-color: #766357;
}

.results__link--brown:hover{
  background-color: #604e43;
}

.results__link--brown:active{
  background-color: #503e33;
}

.footer__wrapper--hotels{
  margin-top: 30px;
  margin-left: 129px;
}

.social--hotels{
  margin-right: 50px;
}


@font-face{
  font-family: PTSans;
  src: url(../fonts/web/ptsans.woff2) format("woff2"),
        url(../fonts/web/ptsans.woff) format("woff");
        font-weight: 400;
}

@font-face{
  font-family: PTSans;
  src: url(../fonts/web/ptsansbold.woff2) format("woff2"),
        url(../fonts/web/ptsansbold.woff) format("woff");
        font-weight: 700;
}
